node_modules
dist
.next
.turbo
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage
.DS_Store
*.log
*.tsbuildinfo
.vscode
.idea
apps/*/node_modules
packages/*/node_modules
apps/*/.next
apps/*/dist
apps/*/.env
apps/*/.env.local
apps/*/.env.development.local
apps/*/.env.test.local
apps/*/.env.production.local
